/* Add a white background to logos in dark mode. */
[data-md-color-scheme="slate"] img.logo {
    background-color: white;
    min-width: 200px;
}
/* Limit the size of the UoM logo. */
img.logo.uom {
    max-width: 200px;
    max-height: 200px;
}
/* Vertically centre logos in card grids. */
.grid.cards > ul > li:has(img.logo) {
    display: flex;
    align-items: center;
}
/* Horizontally centre logos. */
.grid.cards > ul > li > a:has(img.logo) {
    display: inline-block;
    width: 100%;
    text-align: center;
}
/* Horizontally centre profile photos. */
.grid.cards > ul > li > p:has(img.person) {
    text-align: center;
}
/* Limit the size of profile photos. */
img.person {
    max-width: 300px;
    max-height: 300px;
    padding: 0 auto;
}
/* Use a larger, heavier, centred font for project and profile names. */
.person.title, .project.title {
    text-align: center;
    font-weight: 700;
    font-size: 125%;
}
